* {
    max-width: 700px;
    margin: auto;
  }

  div {
    border-radius: 3px;
  }
  
  #header {
    height: 40px;
    width: 100%;
    background-color:#939393;
    position: fixed;
    z-index: 1;
  }
  
  #title {
    margin-left: 3%;
  }
  .stuff {
    display: inline-block;
    margin-top: 6px;
    margin-left: 55px;
    width: 75%;
    height: 1000px;
  }
  
  p,
  li {
    font-family: 'sans-serif';
    
  }
  
  .head {
    font-size: 20px;
  }
  
  #name {
    font-family: sans-serif;
    float: right;
    margin-top: 10px;
    margin-right: 4%;
  }
  
  a {
    color:black;
    text-decoration: none;
  }
  
.work-experience {
  width: 100%;
}

.work-experience .heading {
  text-align: left;
}

  @media only screen and (max-width: 430px) {
    .left,
    .right {
      display: none;
    }
    .stuff {
      width: 100%;
      margin-left: 10px;
    }
  }

